@import "tailwindcss";
@import "@fontsource/fira-mono";

@plugin "daisyui" {
  themes:
    light --default,
    dark --prefersdark;
}

*:focus,
*:focus-within {
  outline: none !important;
  box-shadow: none !important;
}

body {
  /* No dark mode do Google, o fundo é quase preto e o grid é um cinza muito escuro */
  @apply min-h-screen bg-base-200;
}

.calendar-container {
  @apply rounded-3xl border border-base-300 bg-base-100 shadow-sm;
}

select.select {
  @apply cursor-pointer border-none bg-transparent font-medium transition-colors hover:bg-base-200;
  outline: none !important;
}
